/* ESTILOS LOGIN PAGE */

 /*aplicar diseño caja div*/
 .div__login {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(250, 237, 39, 0.7);
  border-radius: 10px;
}

.div__login .div__login-input {
  position: relative;
}
.div__login h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
  font-family: "Roboto Condensed";
}
/*Diseño y posicion de los inputs*/
.div__login .div__login-input {
  position: relative;
  margin-right: -140px;
  left: -30px;
  margin-bottom: 30px;
}
.div__login .div__login-input input {
  width: 80%;
  padding-top: 8px 0;
  font-size: 16px;
  color: #746b6b;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 2px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.div__login .div__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px -10px;
  font-size: 16px;
  margin-left: 10px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}
/*Animacion label texto*/
.div__login .div__login-input input:focus ~ label,
.div__login .div__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
}

.div__login p{
  color: black
}
/*diseño boton ingreso*/

.buton {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background: none;
  border: none;
  margin-top: 30px;
  letter-spacing: 3px;
  overflow: hidden;
}

.buton {
  margin-right: 50px;
}

.registarse {
  text-decoration: none;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  color: black;
  background: #FFCF1D;
  margin-left: 12px;
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*Efecto boton registro*/
.registarse:hover {
  cursor: pointer;
  background: #FFE71D;

}

/*HOVER EFECTO BOTON INGRESAR*/
.buton:hover {
  transition-delay: 1s;
  background: rgb(250, 237, 39, 0.7);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.buton span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #faed27);
}
.buton:hover #span1 {
  left: 100%;
  transition: 1s;
  color: #fff;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #faed27);
}
.buton:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #faed27);
}
.buton:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #faed27);
}
.buton:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*MODAL REGISTRO*/
.modal-content {
  font-family: "Roboto Condensed";
}
.modal-body {
  display: flex;
  flex-direction: column;
  background-color: #edf2f4;
  color: #746b6b;
}

.modal-header {
  background-color: #746b6b;
}

.modal-footer {
  background: rgb(235, 5, 5);
  font-size: 1em;
}
